<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}">
    <title>Magafeens</title>
</head>
<body class="main">
    <div class="menu">
        <div class="amenu">
        </div>
        <div class="fmenu">
            <a href="http://localhost:5000/new">Add Magazine</a>
            <a href="http://localhost:5000/dashboard">Dashboard</a>
            <form action="/logout">
                <button class="bmenu" type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="bmain">
        
        <div class="form">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>Update User</h1>
            <form class="nform" action="/edit/user" method="POST">
                <p>First Name:</p>
                <textarea class="text" name="fname" id="" cols="20" rows="1"></textarea>
                <p>Last Name:</p>
                <textarea class="text" name="lname" id="" cols="20" rows="1"></textarea>
                <p>Email:</p>
                <textarea class="text" name="eml" id="" cols="20" rows="1"></textarea>
                <div>
                  <input class="bmenu" type="submit" value="Update">  
                </div>
            </form>
        </div>
        <div class="mags">
            <h1>{{user.first_name}}'s magazines</h1>
            <div class="nmags">
                {% for mag in mags%}
                    <p>{{ mag.name }} <a href="http://localhost:5000/delete/{{mag.id}}">Delete</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>