[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
bcrypt = "*"
flask-bcrypt = "*"
flash = "*"
flask-session = "*"
cryptography = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
